# ----
# Site

title: 3rdeyesys
url: "https://docs.3rdeyesys.com"
baseurl:
google_analytics_key: G-4Q6RVEFJ3S
disqus_shortname:
newsletter_action:
environment : production

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: 써드아이시스템 기술문서
author:
  name:
  email:
  twitter: # twitter username without the @ symbol
social:
  name: 3rdeyesys homepage
  links:
    - https://www.3rdeyesys.com/

# -----
# Build

timezone: Asia/Seoul

permalink: /:categories/:title/

plugins:
  - jekyll-extract-element
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-archives

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

collections:
  sets:


jekyll-archives:
  enabled: ['categories']


defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      type: "posts"
    values:
      layout: "post"
      comments: true
  -
    scope:
      type: "sets"
    values:
      _hide_content: true
  -
    scope:
      path: "index.html"
    values:
      body_class: "show_hero_search"

  -
    scope:
      path:            "docs_old/**/*.*"
    values:
      sitemap:         false

# -----------
# CloudCannon

social_icons:
  - Facebook
  - Google Plus
  - Instagram
  - LinkedIn
  - Pinterest
  - Tumblr
  - Twitter
  - YouTube
  - Email
  - RSS

types:
  - Document
  - Video

_comments:

exclude: [vendor]
