---
faq:
  - question: 네이버 클라우드에서 서버를 계정당 최대 몇 대까지 생성할 수 있나요?
    answer: 네이버 클라우드에서 한 <b>계정당 생성할 수 있는 최대 서버 수는 기본 50대</b>입니다. 서버 수 한도를 조정하려면 고객지원으로 문의해야 합니다.
    link: /1.compute/ncp_server_autoscaling_limit/
  - question: 네이버 클라우드에서 추가 가능한 스토리지의 최대 사이즈와 개수는 얼마인가요?
    answer: 네이버 클라우드에서 스토리지는 <b>최대 2,000GB</b>를 지원하며, 서버 1대당 <b>최대 16개</b>의 스토리지를 이용할 수 있습니다.
    link: /4.storage/ncp_server_storage_add_guide/
  - question: AWS의 Security Group과 비슷한 네이버 클라우드의 서비스는 어떤 것인가요?
    answer: 네이버 클라우드에서 서버 간 네트워크 접근 제어 및 관리를 할 수 있는 IP/Port 기반 필터링 방화벽 서비스는 <b>ACG(Access Control Group)</b>입니다.
    link: /3.security/ncp_security_acg_guide/
  - question: 네이버 클라우드 Classic 환경에서 ACG는 몇개까지 생성할 수 있나요?
    answer: 네이버 클라우드는 Classic 환경에서 계정당 최대 <b>100개</b>까지 ACG를 생성할 수 있습니다.
    link: /3.security/ncp_security_acg_guide/
  - question: 네이버 클라우드 VPC 환경에서 ACG는 몇개까지 생성할 수 있나요?
    answer: 네이버 클라우드는 VPC 당 최대 <b>500개</b>까지 ACG를 생성할 수 있습니다.
    link: /3.security/ncp_security_acg_guide/
  - question: 네이버 클라우드에서 VPC는 최대 몇개까지 생성할 수 있나요?
    answer: 네이버 클라우드에서 VPC는 고객의 계정마다 <b>최대 3개</b>를 생성할 수 있으며, 각 VPC는 최대 넷마스크 0.0.255.255/16 (IP 65,536개) 크기의 네트워크 주소 공간을 제공합니다
    link: /1.compute/ncp_server_vpc_create/
  - question: 네이버 클라우드 Application Server는 상세 모니터링을 어떻게 하면 확인할 수 있나요?
    answer: 네이버 클라우드 Application Server Launcher 서비스에서 실행한 Application Server는 개발이나 테스트 용도의 최소 스펙과 최소 기능으로 제공되는 서버로, 기본 모니터링 외에 <b>상세 모니터링은 제공되지 않습니다</b>. 그 외에도 스토리지 추가, 스펙 변경 등도 제공되지 않습니다.
    link: 
  - question: AWS의 S3와 비슷한 네이버 클라우드의 서비스는 어떤 것인가요?
    answer: 네이버 클라우드에서 어떤 종류의 데이터든지 언제 어디서나 데이터를 저장하고 확인할 수 있는 객체 스토리지 서비스는 <b>Object Storage</b>입니다.
    link: /4.storage/ncp_storage_compare/
  - question: AWS의 EBS와 비슷한 네이버 클라우드의 스토리지는 어떤 것인가요?
    answer: 네이버 클라우드에서 하드 디스크를 추가 하듯이 서버에 할당하여 사용하는 스토리지는 <b>Block Storage</b>입니다. Console화면에서는 별도의 메뉴가 없고, 해당 서버의 관리 메뉴에서 <b>스토리지 생성</b> 기능을 이용하시면 됩니다.
    link: /4.storage/ncp_storage_compare/
  - question: 네이버 클라우드 AutoScaling 그룹 이벤트는 어디에서 설정하나요?
    answer: 네이버 클라우드 AutoScaling 그룹 이벤트는 <b>Console - Monitoring - Group Event Setting 메뉴</b>에서 설정할 수 있습니다. 그리고 사전에 AutoScaling Group을 설정하셔야 합니다.
    link: /1.compute/ncp_server_autoscaling_event_setting/
  - question: 네이버 클라우드 Object Storage에서 지정된 수명주기의 모든 파일과 폴더를 이동하려면 Object 이름 규칙을 어떻게 설정해야 하나요?
    answer: 네이버 클라우드 Object Storage에서 Lifecycle Management 관리대상을 설정할 때 수명주기에 해당하는 모든 파일과 폴더를 일괄 이동하려면 <b>Object 이름 규칙에 아무것도 입력하지 말고, 빈 공백</b>으로 두시면 됩니다.
    link: /4.storage/ncp_storage_object_storage_lifecycle_management/
  - question: 네이버 클라우드 Load Balancer에서 지원하는 서버 부하 방식은 어떤 것이 있나요?
    answer: 네이버 클라우드 Load Balancer에서 지원하는 서버 부하 분산 방식에는 <b>Round Robin, Least Connection, Source IP Hash</b> 가 있습니다.
    link: 
  - question: 네이버 클라우드 Object Storage에 업로드 할 수 있는 파일의 최대 사이즈는 얼마인가요?
    answer: 네이버 클라우드 Object Storage는 <b>콘솔</b>에서 업로드시 파일당 최대 <b>2GB</b>, <b>API</b> 사용시 파일당 최대 <b>10TB</b>까지 업로드 가능합니다. (전체 저장용량에는 제한이 없습니다)
    link: 

---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>	

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		<p>{{ item.answer }} {% if item.link %}<br /><span style="font-size:15px">- 참고문서: <a href="{{ item.link }}" style="text-decoration:none">{{ site.url }}{{ item.link }}</a></span>{% endif %}</p>
	{% endfor %}
</section>