<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
<nav>
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn" style="padding: 5px;"><strong>&#9998;</strong> Edit navigation</a>
	{% for link in site.data.navigation %}
	{% assign class = "" %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" target="{{ link.target }}">{{ link.name }}{% if link.new == "y" %}<img src="/images/new_dot_10x10.png" style="width:8px;margin-left:3px;vertical-align:top;">{% endif %}</a>

	{% endfor %}
	{% if page.url != "/" %}
		<span style="width:100px">{% include search.html %}</span>
	{% endif %}
</nav>
