
html {
	height: 100%;
	max-height: 100%;
	font-size: 10px;
	-webkit-tap-highlight-color: transparent
}

body {
	height: 100%;
	max-height: 100%;
	font-family: 'Nanum Gothic', sans-serif;
	letter-spacing: 0.01rem;
	font-size: 1.5em;
	line-height: 1.75em;
	color: #3A4145;
	-webkit-font-feature-settings: 'kern' 1;
	-moz-font-feature-settings: 'kern' 1;
	-o-font-feature-settings: 'kern' 1;
	text-rendering: geometricPrecision
}

h1, h2, h3, h4, h5, h6,
input, label, select, textarea, table, header, footer, .categories, .listing, .sidebar, .tutorial-share, .modalDialog, .faq ul, .tutorial-series ul {
	-webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	-moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	-o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	font-family: "Open Sans", sans-serif;
	text-rendering: geometricPrecision;
}

table
{
	width: 100%;	
	padding:0; 
	border-spacing:0px; 
	border:0; 
	border-collapse:collapse;
}
th 
{
      min-width: 50px;
      padding:0px;
      font-size: 13px;
      background-color:$medium-grey;
      color: #fff;
      text-align: right;
}
td
{
	padding:0px;
	font-size: 13px;
	font-weight: none;
	font-family: 'Nanum Gothic', sans-serif;
}

.categories a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #2E2E2E;
	line-height: 1.15em;
	margin: 0 0 0.4em 0;
	font-weight: 500;
}

h1 {
	font-size: 5rem;
	letter-spacing: -2px;
	text-indent: -3px
}

.tutorial-content h1 {
	font-size: 4.5rem;
	margin: 0 0 .7em 0;
}

h2 {
	font-size: 3.6rem;
	letter-spacing: -1px
}

h3 {
	font-size: 3rem
}

h4 {
	font-size: 2.5rem
}

h5 {
	font-size: 2rem
}

h6 {
	font-size: 2rem
}

a {
	color: $link-color;
	transition: color 0.3s ease;
}

a:hover {
	color: $link-hover-color;
}

p,
ul,
ol,
dl {
	-webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
	-moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
	-o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
	margin: 0 0 1.75em 0;
	text-rendering: geometricPrecision
}

ol,
ul {
	padding-left: 3rem
}

ol ol,
ul ul,
ul ol,
ol ul {
	margin: 0 0 0.4em 0;
	padding-left: 2em
}

li {
	margin: 0.4em 0
}

li li {
	margin: 0
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: #EFEFEF 1px solid;
	margin: 3.2em 0;
	padding: 0
}

blockquote {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1.75em 0 1.75em -2.2em;
	padding: 0 0 0 1.75em;
	border-left: #4A4A4A 0.4em solid
}

blockquote p {
	margin: 0.8em 0;
	font-style: italic
}

blockquote small {
	display: inline-block;
	margin: 0.8em 0 0.8em 1.5em;
	font-size: 0.9em;
	color: #CCC
}

blockquote small:before {
	content: "\2014 \00A0"
}

blockquote cite {
	font-weight: 700
}

blockquote cite a {
	font-weight: normal
}

mark {
	background-color: #fdffb6
}

kbd {
	display: inline-block;
	margin-bottom: 0.4em;
	padding: 1px 8px;
	border: #CCC 1px solid;
	color: #666;
	text-shadow: #FFF 0 1px 0;
	font-size: 0.9em;
	font-weight: 700;
	background: #F4F4F4;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset
}

@media only screen and (max-width: 900px) {
	blockquote {
		margin-left: 0
	}
	hr {
		margin: 2.4em 0
	}
	ol,
	ul {
		padding-left: 2em
	}
	h1 {
		font-size: 4.5rem;
		text-indent: -2px
	}
	h2 {
		font-size: 3.6rem
	}
	h3 {
		font-size: 3.1rem
	}
	h4 {
		font-size: 2.5rem
	}
	h5 {
		font-size: 2.2rem
	}
	h6 {
		font-size: 1.8rem
	}
}

@media only screen and (max-width: 500px) {
	hr {
		margin: 1.75em 0
	}
	p,
	ul,
	ol,
	dl {
		font-size: 0.95em;
		margin: 0 0 2.5rem 0
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 0.3em 0
	}
	h1 {
		font-size: 2.8rem;
		letter-spacing: -1px
	}
	h2 {
		font-size: 2.4rem;
		letter-spacing: 0
	}
	h3 {
		font-size: 2.1rem
	}
	h4 {
		font-size: 1.9rem
	}
	h5 {
		font-size: 1.8rem
	}
	h6 {
		font-size: 1.8rem
	}
}

.badge {
  display: inline-block;
  padding: 0.1em 0.4em 0.25em 0.4em;
  font-size: 70%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: text-top;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .badge {
    transition: none;
  }
}

a.badge:hover, a.badge:focus {
  text-decoration: none;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

a.badge-primary:hover, a.badge-primary:focus {
  color: #fff;
  background-color: #0062cc;
}

a.badge-primary:focus, a.badge-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

a.badge-secondary:hover, a.badge-secondary:focus {
  color: #fff;
  background-color: #545b62;
}

a.badge-secondary:focus, a.badge-secondary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.badge-success {
  color: #fff;
  background-color: #4BBF4D;
}

a.badge-success:hover, a.badge-success:focus {
  color: #fff;
  background-color: #1e7e34;
}

a.badge-success:focus, a.badge-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

a.badge-info:hover, a.badge-info:focus {
  color: #fff;
  background-color: #117a8b;
}

a.badge-info:focus, a.badge-info.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

a.badge-warning:hover, a.badge-warning:focus {
  color: #212529;
  background-color: #d39e00;
}

a.badge-warning:focus, a.badge-warning.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.badge-danger {
  color: #fff;
  background-color: #F54E41;
}

a.badge-danger:hover, a.badge-danger:focus {
  color: #fff;
  background-color: #bd2130;
}

a.badge-danger:focus, a.badge-danger.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}

a.badge-light:hover, a.badge-light:focus {
  color: #212529;
  background-color: #dae0e5;
}

a.badge-light:focus, a.badge-light.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}

a.badge-dark:hover, a.badge-dark:focus {
  color: #fff;
  background-color: #1d2124;
}

a.badge-dark:focus, a.badge-dark.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.error, .warning, .info, .success {
  border-left: 5px solid #FD0;
  padding: 5px 10px;
  margin-left: -10px;
  margin-right: -5px;
  background-color: #FAFAFA;
  border-radius: 2px; }

.warning {
  border-color: #ffc107; }

.info {
  border-color: #56ADEC; }

.error {
  border-color: #F20; }

.success {
  border-color: #6c0; }